@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800,700,600,500,300,200,100);

html {
  background-color: #29282E;
  color: White;
}

body {
  font-family: 'Exo 2';
  font-weight: 100;
  text-align: center;
  font-size: 8em;
}

.container {
  position: relative;
  top: 100px;
}

.heart {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #EA4646;
}